.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #fff;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.97;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-branding, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0%;
    padding: 0%;
    background: #002149;
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-branding {
    background: #002d62;
    transform: translate3d(0, 100%, 0);
    transition: all 0.5s ease-out; }
    .menu-branding.show {
      transform: translate3d(0, 0, 0); }
    .menu-branding .portrait {
      width: 250px;
      height: 250px;
      background: url("../img/me.JPG");
      background-size: cover;
      border-radius: 50%;
      border: solid 3px #fdbb30; }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.5s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #fdbb30; }
    .menu .nav-item .nav-link {
      display: block;
      color: #fff;
      font-size: 30px;
      padding: 1rem 0;
      text-transform: uppercase;
      font-weight: 300;
      transition: all 0.5s ease-out; }
      .menu .nav-item .nav-link:hover {
        color: #fdbb30; }
  .menu .nav-item:nth-child(1) {
    transition-delay: 0.1s; }
  .menu .nav-item:nth-child(2) {
    transition-delay: 0.2s; }
  .menu .nav-item:nth-child(3) {
    transition-delay: 0.3s; }
  .menu .nav-item:nth-child(4) {
    transition-delay: 0.4s; }

* {
  box-sizing: border-box; }

body {
  background: #002d62;
  color: #fff;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }
  body#bg-image {
    background: url(../img/background.jpg);
    background-attachment: fixed;
    background-size: cover; }
    body#bg-image:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: #002d62;
      z-index: -1;
      background: rgba(0, 45, 98, 0.9); }
  body p, body li {
    font-size: 18px; }
  body#vendingmachine {
    background: black; }

img {
  width: 100%; }

.single-pic {
  width: 75%;
  display: block;
  margin: auto; }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 6rem; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2 rem 1 rem; }

a {
  color: #fff;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #fdbb30; }

main {
  padding: 4rem;
  min-height: calc(100vh - 60px);
  min-width: 480px;
  max-width: 1500px;
  margin: auto; }
  main hr {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px; }
  main .icons {
    margin-top: 1rem; }
    main .icons a {
      padding: 0.4rem; }
      main .icons a:hover {
        color: #fdbb30;
        transition: all 0.5s ease-out; }
  main#tip-shop {
    padding: 2rem; }
    main#tip-shop .project {
      display: grid;
      grid-template-columns: 1fr; }
      main#tip-shop .project section {
        padding: 1rem 0.5rems; }
        main#tip-shop .project section div#color_themes {
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          grid-gap: 0.7rem;
          padding: 1rem 0.5rems; }
          main#tip-shop .project section div#color_themes img {
            width: 100%; }
        main#tip-shop .project section .two-col {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 0.7rem; }
          main#tip-shop .project section .two-col .text-side {
            padding-top: 200px; }
          main#tip-shop .project section .two-col img {
            object-fit: cover;
            object-position: top;
            width: 75%;
            max-height: 500px;
            margin: auto;
            display: block;
            padding: 1rem; }
  main#pacersblog, main#vendingmachine, main#shoporders, main#unitnumbers, main#recipes {
    padding: 2rem; }
    main#pacersblog .project section, main#vendingmachine .project section, main#shoporders .project section, main#unitnumbers .project section, main#recipes .project section {
      padding: 1rem 0.5rems; }
      main#pacersblog .project section .two-col, main#vendingmachine .project section .two-col, main#shoporders .project section .two-col, main#unitnumbers .project section .two-col, main#recipes .project section .two-col {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0.7rem; }
        main#pacersblog .project section .two-col .text-side, main#vendingmachine .project section .two-col .text-side, main#shoporders .project section .two-col .text-side, main#unitnumbers .project section .two-col .text-side, main#recipes .project section .two-col .text-side {
          padding-top: 100px; }
        main#pacersblog .project section .two-col img, main#vendingmachine .project section .two-col img, main#shoporders .project section .two-col img, main#unitnumbers .project section .two-col img, main#recipes .project section .two-col img {
          object-fit: cover;
          object-position: top;
          width: 100%;
          max-height: 500px;
          margin: auto;
          display: block;
          padding: 1rem; }
  main#home {
    overflow: hidden; }
    main#home h1 {
      margin-top: 20vh; }

.about-info {
  display: grid;
  grid-template-areas: "bio-image bio bio" "job1 job2 job3";
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px; }
  .about-info .bio-image {
    grid-area: bio-image;
    margin: auto;
    border-radius: 50%;
    border: #fdbb30 3px solid;
    height: 250px;
    width: 250px; }
  .about-info .bio {
    grid-area: bio;
    font-size: 1.5rem; }
    .about-info .bio a {
      color: #fdbb30; }
  .about-info .job1 {
    grid-area: job1; }
  .about-info .job2 {
    grid-area: job2; }
  .about-info .job3 {
    grid-area: job3; }
  .about-info .job {
    background: #00397c;
    padding: 1rem;
    border-bottom: 5px solid #fdbb30; }

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  padding: 10px; }
  .projects .project-item {
    width: 400px;
    padding: 15px; }
    .projects .project-item .picture-link img {
      width: 100%; }
      .projects .project-item .picture-link img:hover {
        opacity: 0.5;
        border-color: #fdbb30;
        transition: all 0.5s ease-out; }
    .projects .project-item .picture-link .square-picture {
      height: 246px;
      object-fit: contain; }
    .projects .project-item .project_github-links {
      margin-top: 15px; }

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem; }
  .boxes div {
    font-size: 2rem;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    transition: all 0.5s ease-out; }
    .boxes div:hover {
      padding: 0.5rem 1.5rem;
      background: #fdbb30;
      color: #000; }
      .boxes div:hover span {
        color: #000; }

.btn, .btn-dark, .btn-light {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  margin-top: 0.3rem; }
  .btn:hover, .btn-dark:hover, .btn-light:hover {
    background: #fdbb30;
    color: #000; }

.btn-dark {
  background: black;
  color: #fff; }

.btn-light {
  background: #fff;
  color: #333; }

#main-footer {
  text-align: center;
  padding: 1rem;
  color: #fff;
  height: 60px; }

@media screen and (min-width: 901px) and (max-width: 1170px) {
  main .projects {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr); }
  main .about-info {
    grid-template-areas: "bio-image bio" "job1 job2" "job3 job3";
    grid-template-columns: 1fr 2fr; }
    main .about-info .job {
      text-align: left; } }

@media screen and (min-width: 501px) and (max-width: 900px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 2rem; }
    main .projects {
      grid-template-columns: repeat(1, 1fr); }
      main .projects .project-item {
        width: 600px; }
        main .projects .project-item .square-picture {
          height: 400px; }
    main#tip-shop .project section div#color_themes, main#pacersblog .project section div#color_themes, main#vendingmachine .project section div#color_themes {
      grid-template-columns: repeat(3, 1fr); }
    main#tip-shop .project section .two-col, main#pacersblog .project section .two-col, main#vendingmachine .project section .two-col {
      grid-template-columns: 1fr; }
      main#tip-shop .project section .two-col .text-side, main#pacersblog .project section .two-col .text-side, main#vendingmachine .project section .two-col .text-side {
        padding-top: 0px; }
    main#tip-shop .project section div.image-first div:nth-of-type(1), main#pacersblog .project section div.image-first div:nth-of-type(1), main#vendingmachine .project section div.image-first div:nth-of-type(1) {
      order: 2; }
    main#tip-shop .project section div.image-first div:nth-of-type(2), main#pacersblog .project section div.image-first div:nth-of-type(2), main#vendingmachine .project section div.image-first div:nth-of-type(2) {
      order: 1; }
    main .about-info {
      grid-template-areas: "bio-image" "bio" "job1" "job2" "job3";
      grid-template-columns: 1fr; }
      main .about-info .job {
        text-align: left; }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 60vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu-branding {
    height: 40vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .portrait {
      width: 200px;
      height: 200px; } }

@media screen and (max-width: 500px) {
  main {
    align-items: center;
    text-align: center;
    padding: 2rem; }
    main hr {
      margin-top: 0; }
    main #home h1 {
      margin-top: 10vh; }
    main .lg-heading {
      line-height: 1.2;
      margin-top: 1rem;
      font-size: 5rem;
      margin-bottom: 1rem; }
    main .projects {
      grid-template-columns: 1fr; }
    main#tip-shop .project section #color_themes, main#pacersblog .project section #color_themes, main#vendingmachine .project section #color_themes {
      display: none; }
    main#tip-shop .project section div#color_themes, main#pacersblog .project section div#color_themes, main#vendingmachine .project section div#color_themes {
      display: none; }
    main#tip-shop .project section .two-col, main#pacersblog .project section .two-col, main#vendingmachine .project section .two-col {
      grid-template-columns: 1fr; }
      main#tip-shop .project section .two-col .text-side, main#pacersblog .project section .two-col .text-side, main#vendingmachine .project section .two-col .text-side {
        padding-top: 0px; }
    main#tip-shop .project section div.image-first div:nth-of-type(1), main#pacersblog .project section div.image-first div:nth-of-type(1), main#vendingmachine .project section div.image-first div:nth-of-type(1) {
      order: 2; }
    main#tip-shop .project section div.image-first div:nth-of-type(2), main#pacersblog .project section div.image-first div:nth-of-type(2), main#vendingmachine .project section div.image-first div:nth-of-type(2) {
      order: 1; }
    main .about-info {
      grid-template-areas: "bio-image" "bio" "job1" "job2" "job3";
      grid-template-columns: 1fr; }
      main .about-info .job {
        text-align: left; }
  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-branding.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 60vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu-branding {
    height: 40vh;
    transform: translate3d(100%, 0, 0); }
    .menu-branding .portrait {
      width: 200px;
      height: 200px; } }
